body { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1 {
	color: black; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 128px;
	margin-top: 20px; 
	font-weight: normal; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

img {
	margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a { 
	color: #685206; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	line-height: 24px; 
	margin: 0 0 24px; 
	text-align: justify; 
	text-justify: inter-word; 
}

div.main-box {
	margin: 40px;
    background-color: #ffffff;
	opacity: 0.6;
	padding: 1;
	filter: alpha(opacity=60);
	overflow-wrap: normal;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}