h1 {
	color: #ffffff; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 128px;
	margin-top: 20px; 
	font-weight: normal; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

img {
	margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 { 
	color: #111; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 30px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 0 72px; 
	text-align: center; 
}


a { 
	color: #685206; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	line-height: 24px; 
	margin: 0 0 24px; 
	text-align: justify; 
	text-justify: inter-word; 
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}